<%- include('parts/head') %>
    <div class="container-fluid p-0" style="box-sizing: border-box;overflow-x:hidden ;">
            <%- include('parts/navbar') %>
        <!--Section ========= Banner start-->
        <section class="container-fluid p-0 banner" id="banner">
            <h1  data-aos="zoom-in" id="headerOfBanner">Welcome in <br> <em>
                The most beautiful palaces
            </em></h1>
        </section>
        <!--Section ========= Banner end-->
        <!--Section ========= About start-->
        <section class="container-fluid  about" id="about">
            <h1 class="title" id="aboutHeader"><em>About Us</em></h1>
            <hr class="small">
            <div class="d-flex col-12">
                <img src="/images/about-img.webp" alt="" srcset="" class="col-lg-5 col-xl-5 col-sm-10 col-md-5"  data-aos="fade-right">
                <p class="col-lg-5 col-xl-5 col-sm-10 col-md-5"  data-aos="fade-left" id="aboutContent">
                    The most beautiful palaces for furnished apartments is The best choice to have fun and relax The excellent services and warm hospitality of Nozol Al
                    ShakreenO Hotel will make your stay an unforgettable experience. The hotel offers an opportunity to
                    enjoy a wide range of services, including family room, Wi-Fi in public areas, elevator, car park,
                    The rooms are carefully equipped to include the best amenities, hair dryer, in room safe, coffee/tea
                    maker, satellite TV in all rooms. The wide range of services in the hotel to ensure your comfort
                    leave you plenty of options to spend your time during your stay. Nozol Al Shakreen Hotel is a smart
                    choice for travelers to Madinah, as it provides a relaxing and relaxing stay.
                </p>
            </div>
        </section>
        <!--Section ========= About end-->
        <!--Section ========= images start-->
        <section class="container-fluid  images" id="images">
            <h1 class="title" id="imagesHeader">Hotel Images
            </h1>
            <hr class="small">
            <div class="parent-images d-flex col-12">
                <div class="image col-xl-3 col-lg-3 col-md-4.col-sm-10"   data-aos="fade-right" >
                    <img src="/images/img1.jpg" alt="" srcset="">
                </div>
                <div class="image col-xl-3 col-lg-3 col-md-4.col-sm-10"  data-aos="zoom-in">
                    <img src="/images/img2.jpg" alt="" srcset="">
                </div>
                <div class="image col-xl-3 col-lg-3 col-md-4.col-sm-10"   data-aos="fade-left">
                    <img src="/images/img3.jpg" alt="" srcset="">
                </div>
                <div class="image col-xl-3 col-lg-3 col-md-4.col-sm-10"   data-aos="fade-right">
                    <img src="/images/img4.jpg" alt="" srcset="">
                </div>
                <div class="image col-xl-3 col-lg-3 col-md-4.col-sm-10"  data-aos="zoom-in">
                    <img src="/images/img5.jpg" alt="" srcset="">
                </div>
                <div class="image col-xl-3 col-lg-3 col-md-4.col-sm-10"   data-aos="fade-left">
                    <img src="/images/img6.jpg" alt="" srcset="">
                </div>
                <div class="image col-xl-3 col-lg-3 col-md-4.col-sm-10"   data-aos="fade-right">
                    <img src="/images/img7.jpg" alt="" srcset="">
                </div>
                <div class="image col-xl-3 col-lg-3 col-md-4.col-sm-10"  data-aos="zoom-in">
                    <img src="/images/img8.jpg" alt="" srcset="">
                </div>
                <div class="image col-xl-3 col-lg-3 col-md-4.col-sm-10"   data-aos="fade-left">
                    <img src="/images/img9.jpg" alt="" srcset="">
                </div>
                <div class="image col-xl-3 col-lg-3 col-md-4.col-sm-10"   data-aos="fade-right">
                    <img src="/images/img10.jpg" alt="" srcset="">
                </div>
            </div>
        </section>
        <!--Section ========= images end-->
        <!--Section ========= services start-->
        <section class="container-fluid services " id="services">
            <h1 class="title" id="serviceHeader">
                services
            </h1>
            <hr class="small">
            <div class="parent-services col-12 d-flex">
                <div class="service"  data-aos="zoom-in">
                    <img src="/images/service3.webp" alt="" srcset="">
                    <h3 id="serviceHeaderOne">
                        Solve the problem as soon as possible
                    </h3>
                    <p id="serviceContentOne">The hotel security system depends on receiving the problem and solving it as soon as possible
                    </p>
                </div>
                <div class="service"  data-aos="zoom-in">
                    <img src="/images/service2.webp" alt="" srcset="">
                    <h3 id="serviceHeaderTwo">
                        enjoy
                    </h3>
                    <p id="serviceContentTwo">
                        Ensures that you enjoy the hotel and complete freedom inside the hotel
                    </p>
                </div>
                <div class="service"  data-aos="zoom-in">
                    <img src="/images/service1.webp" alt="" srcset="">
                    <h3 id="serviceHeaderThree">
                        Provide services
                    </h3>
                    <p id="serviceContentThree">
                        The hotel provides service very quickly
                    </p>
                </div>
                <div class="service"  data-aos="zoom-in">
                    <img src="/images/service4.webp" alt="" srcset="">
                    <h3 id="serviceHeaderFour">
                        Special Needs Care
                    </h3>
                    <p id="serviceContentFour">
                        We provide them with all the services that guarantee them complete comfort through the hotel
                        services
                    </p>
                </div>
                <div class="service"  data-aos="zoom-in">
                    <img src="/images/service5.jfif" alt="" srcset="">
                    <h3 id="serviceHeaderFive">
                        car park
                    </h3>
                    <p id="serviceContentFive">
                        The hotel has a fully secured car park to keep guests' cars
                    </p>
                </div>
            </div>
        </section>
        <!--Section ========= services end-->
        <!--Section ========= Warnings start-->
        <section class=" container-fluid warnings about" id="Warnings">
            <h1 class="title"><em id="warningsHeader">Warnings</em></h1>
            <hr class="small">
            <div class="d-flex col-12">
                <img src="/images/warnings.webp" alt="" srcset="" class="col-lg-5 col-xl-5 col-sm-10 col-md-5"  data-aos="fade-right">
                <p class="col-lg-5 col-xl-5 col-sm-10 col-md-5" id="warningsContect"  data-aos="fade-left">
                    No smoking inside the hotel
                </p>
            </div>
        </section>
        <!--Section ========= Warnings end-->
        <!--Section =========   book start-->
        <section class="container-fluid book" id="book">
            <h1 class="title" id="bookHeader">
                Book
            </h1>
            <hr class="small">
            <form method="post" action="/book" onsubmit="alertFunction()"  data-aos="zoom-in">
                <div class="form-group col-xl-5 col-lg-5 col-md-5 col-sm-10">
                    <label for="phone" id="phoneNumber">Your Number</label>
                    <input type="text" class="form-control" id="phone" name="phone" aria-describedby="emailHelp">
                  </div>
                <div class="form-group col-xl-5 col-lg-5 col-md-5 col-sm-10">
                    <label for="exampleInputEmail1" id="email">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
                  </div>
                  <div class="form-group col-xl-5 col-lg-5 col-md-5 col-sm-10">
                    <label for="rooms" id="roomCount">number of rooms</label>
                    <input type="number" class="form-control" id="rooms" min="1" value="1" name="rooms">
                  </div>
                  <div class="form-group col-xl-5 col-lg-5 col-md-5 col-sm-10">
                    <label for="persons" id="personCount">number of people</label>
                    <input type="number" class="form-control" id="persons" min="1" value="1" name="persons">
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary" id="bookSubmit">Submit</button>
                  </div>
            </form>
            <div class="contact col-12">
                <a href="https://api.whatsapp.com/send/?phone=966506777339" style="text-decoration:none !important ;" >
                    <div class="parent-social"  data-aos="fade-right">
                        <p id="bookByWhatsapp">Book By Whatsapp</p>
                        <div class="social">
                            <i class="fa-brands fa-whatsapp"></i>
                            <a href="https://api.whatsapp.com/send/?phone=966506777339">
                                0506777339
                            </a>
                        </div>
                    </div>
                </a>
                <a href="tel:0172267970"  style="text-decoration:none !important ;" >
                    <div class="parent-social"  data-aos="fade-left">
                        <p id="bookByPhone">Book By Phone</p>
                        <div class="social">
                            <i class="fa-solid fa-phone"></i>
                            <a href="tel:0172267970">
                                0172267970
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </section>
        <!--Section ========= book end-->
        <!--Section =========   rate start-->
        <section class="container-fluid rate" id="review">
            <h1 class="title" id="reviewHeader">
                review us
            </h1>
            <hr class="small">
            <div class="reviews">
                <form action="/review" method="post" class="col-xl-5 col-lg-5 col-md-5 col-sm-12" onsubmit="reviewFunction()"  data-aos="fade-right">
                    <h2 id="reviewHeaderContentLeft">write your review</h2>
                    <textarea type="text" name="message" id="message" placeholder="Enter Your Review..." ></textarea>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary" id="sendSubmit">Submit</button>
                    </div>
                </form>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 comments"  data-aos="fade-left">
                    <h2 id="reviewHeaderContentRight">Customers Reviews</h2>
                    <div class="col-12">
                        <% for(let comment of comments){ %>
                            <p>
                                <i class="fa-solid fa-user"></i>
                                <span><%= comment.text  %> </span>
                            </p>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
        <!--Section =========   rate end-->
        <!--Section =========   Map start-->
        <section class="container-fluid map" id="map"  data-aos="zoom-in">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d930.1160786399565!2d42.5083936!3d18.2308416!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15e355e202bc9bad%3A0x61cb9fbfebf78fa6!2sOYO%20369%20Arwa%20Alqosor!5e1!3m2!1sar!2seg!4v1663001970101!5m2!1sar!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <!--Section =========   Map end-->
        <!--footer =========   start-->
        <!-- <footer class="container-fluid">
            <p>copyright@<a href="https://api.whatsapp.com/send/?phone=201019439036">Almaghrabi</a>2022</p>
        </footer> -->
        <!--footer =========   end-->
        </div>

        <%- include('parts/footer') %>