<nav class="navbar navbar-expand-lg navbar-light bg-light pl-5 pr-5 fixed-top">
  <a class="navbar-brand" href="#home"><img src="/images/logo.svg" alt="" srcset=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#banner" id="homeLink">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about" id="aboutLink">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#images" id="imagesLink">Hotel Images</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#services" id="serviceLink">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Warnings" id="WarningLink">Warnings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#book" id="bookLink">book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#review" id="reviewLink">review</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#map" id="mapLink">Map</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="languageLink" role="button" data-toggle="dropdown" aria-expanded="false">
          language
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" onclick="changeLang('en')">English</a>
          <a class="dropdown-item"  onclick="changeLang('ar')">عربي</a>
        </div>
      </li>
    </ul>
  </div>
</nav>